body{
background: goldenrod;
text-align: center;
color: steelblue;
 }

 #container{
    display:flex;
    justify-content: center;   
 }

#lettersDiv{
display:flex;
justify-content: center;
flex-wrap: wrap;
align-self:center;
max-width: 600px;
}

.letter{
    background:black;
    font-size: 24px;
    color: white;
    max-width: 50px;
    margin:5px;
    font-weight:bold;
    border: 2px solid white;
    padding:10px;

}