body{
background: url(globe.jpg);
color: black;
font-family: 'Ubuntu', sans-serif;
text-align: center;
 }

#container0{
    display: flex;
    justify-content: center;

}
 #top{
 color: goldenrod; 
 display: flex;
 flex-direction:column;
 background:teal;
 width: 350px;   
 align-items: center;
 height: 280px; 
 border-radius:10%;
 }

#restartBtn
{background-color:orange;
border-radius: 10%;
border: none; 
padding: 10px;
font-weight: bold;
max-width: 100px;
visibility: hidden;
}

 #container{
    display:flex;
    justify-content: center;   
 }

#lettersDiv{
display:flex;
justify-content: center;
flex-wrap: wrap;
align-self:center;
max-width: 600px;
}

.letter{
    background:black;
    font-size: 24px;
    color: white;
    max-width: 50px;
    margin:5px;
    font-weight:bold;
    border: 2px solid white;
    border-radius: 50%;
    padding:10px;

}

.letter:hover{
    background: white;
    color: black;
}